<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="auto" class="com.Lorry" autowire="byType"/>

    <bean id="description" class="com.Description">
        <property name="name" value="Ford"/>
        <property name="hoursePower" value="385.0"/>
        <property name="torque" value="430.0"/>
    </bean>

</beans>